.mensaje{
	margin-top: 5%;
	font-size: 200%;
}

h2{
	display: inline-block;
}

.puntos{
	display: inline-block;
	font-size: 200%;
	margin-left: 2%;
}

.borde{
	border-style: double;
	border-color: black;

}